{% extends "awards/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{object.category}}</h1>
<div class = "lead d-inline">Recipient: </div>
<div class = "d-inline">{{object.recipient_fname}} {{object.recipient_lname}}</div><br />

<div class = "lead d-inline">Recipient Email: </div>
<div class = "d-inline">{{object.recipient_email}}</div><br/>

<div class = "lead d-inline">Granted on: </div>
<div class = "d-inline">{{object.date_granted}}</div><br/>

<div class = "lead d-inline">Region: </div>
<div class = "d-inline">{{object.region}}</div><br/>

<div class = "lead d-inline">Submitted By: </div>
<div class = "d-inline">{{object.submitter}}</div><br/>
    <br/>
<a class= "btn btn-outline-info" href="{% url 'award-update' object.id %}">Edit</a>
{% endblock %}